* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --cor-fundo: #865dff;
    --cor-card: #191825;
    --cor-secundaria: #514869;
    --botao: #ffa3fd;
    --branco: #ffffffdc;
}


main {
    width: auto;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cor-fundo);
}
.container {
    width: 80rem;
    height: 67rem;
    border-radius: 2rem;
    border: none;

    display: flex;
    flex-direction: column;

    background-color: var(--cor-card);
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;    

    color: #fff;
    margin-top: 5rem;
}

nav h1 {
    font: 400 4rem 'black ops one';
    padding-left: 22rem;

}

#select {
    margin-right: 2rem;
    padding: 0.4rem;

    border: none;
    border-radius: 1.2rem;

    text-align: center;
    font: 400 1.5rem 'Arial';

    background-color: var(--botao);
    color: #000;

    outline: none;
}

#select option {
    color: #000;
    cursor: pointer;
}

#select option:hover {
    transition: .4s;
    background-color: var(--cor-fundo);
}


.container ul {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    color: #fff;
}

.container-li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: start;
    justify-content: space-around;

    gap: 10rem;
    margin-top: 8rem;
}

.container-li h2 {
    font: 400 3rem 'black ops one';
    color: #fff;
}

.container-li a {
    text-decoration: none;
    color: #fff;
    font: bolder 2rem 'Arial';
    transition: all .2s ease-in-out;
}

.container-li a:hover {
    transition: .4s;
    font-size: 3rem;
    font-weight: bolder;
    color: #ffa3fd;
}


ul li {
    margin-top: 0.5rem;
}

.container-photo {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    margin-top: 4.5rem;
}

#logo { 
    width: 15rem;
    height: 10rem;
}


