* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --cor-fundo: #865dff;
    --cor-card: #191825;
    --cor-secundaria: #514869;
    --botao: #ffa3fd;
    --branco: #ffffffdc;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-color: var(--cor-fundo);
}

.card{ 
    display: flex;
    flex-direction: column;

    border-radius: 2rem;
    padding: 3rem;
    
    
    height: 56rem;
    max-width: 100%;
    width: 70rem;

    background-color: var(--cor-card);
}

header { 
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.userPhoto {
    width: 20rem;
}

header h1 {
    font: 400 2rem 'black ops one';
    color: #fff;
}

.card-infos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 3rem;
    gap: 5rem;
}

.card-infos-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    font: 400 1.5rem 'Arial';
    color: #fff;

    margin-left: 3rem;
}

.card-infos-column label {
    color: #fff;
    font: 400 1.5rem 'Arial';

    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card-infos-column input {
    border: none;
    background: none;
    
    border-bottom: solid .1rem #fff;
    padding-left: 0.2rem;

    width: 30rem;
    height: 4rem;
    cursor:not-allowed;
}

.card-infos-column h2 {
    margin-bottom: 1.5rem;
}

.card-infos-column li {
    margin-left: 1.5rem;
    margin-bottom: 0.6rem;
}

.card-info-span {
    font-weight: bolder;
    color: var(--botao);
    transition: all .4s ease-in-out;
}

.card-info-span:hover {
    transition: .4s;
    color: var(--cor-fundo);
    font-size: 2rem;
    cursor: default;
}

.card-infos-row input::placeholder {
    color: #fff;
}


.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 5rem;
    
}


.logo {
    width: 15rem;
}

.footer button {
    width: 15rem;
    height: 4rem;

    font: 400 1.5rem 'black ops one';
    
    background-color: var(--botao);
    border: none;
    border-radius: 1rem;
    
    cursor: pointer;
}

.footer button:hover {
    transition: .4s;
    background-color: var(--cor-fundo);
    color: #fff;
}

@media only screen and (max-width: 768px) {

    .card {
        height: 71rem;
        width: 50rem;
    }

    .card-infos {
        flex-direction: row;
        gap: 3rem;
        margin-top: 1rem;
    }

    .card-infos-column label {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    .card-infos-column input {
        height: 1.5rem;
        width: 25rem;
    }
}